
<h1>Welcome to this CRM!</h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <!-- please complete me with links to other actions -->
</ul>

<h1>All Contacts</h1>

<ul>
<% @contacts.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %> <em><%= contact.email %></em></li>
<% end %>
</ul>



