<!DOCTYPE html>
<html>
    <head>
        <title>Contacts-R-US</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>

        <header>
            logo
        </header>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <%= yield %>

        <footer>
 site design / logo &copy; 2015 whizbang widgets inc; user contributions licensed under blah blah blah with attribution required
rev 2015.4.9.2459 
        </footer>

    </body>
</html>

