<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <header>
            logo
        </header>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <%= yield %>

        <footer>
            Some copyright info or perhaps some author info for an &lt;article&gt;?
        </footer>

    </body>
</html>

