body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #C3C3C3;
    background: #111;
    font-family: 16px "Lato", sans-serif;
}

a {
  color: #86D4B1;
}

a.highlight {
  color: #fff;
}


title { text-align: center ; }

footer, header {
    font-size: 10px;
    text-align: center;
    padding: 2em;
}

nav {
    width: 100%;
    float: left;
    margin: 3px;
    padding: 0;
    list-style: none;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 3px;
  border: gray 1px solid;
}

nav li {
  float: left;

  margin: 3px;
  border: gray 1px solid;
}


table td {font-size: 10px; border: 0;}
table {font-size: 10px; border: 0;}

#maincontainer{
    width: 840px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
}


#main {
    margin-left: 200px;

}

#sidebar {
    float:left;
    width:200px;
    border:  #FFF 1px solid ;
    background: #444;
}

#footer1 {
    clear:both;
    background:#cc9;
}

#header1 {
    float: right;
}

#main li { font-size: 80%; }

div {

}
